NEXT_PUBLIC_MQTT_BROKER=ws://localhost:9001
NEXT_PUBLIC_MQTT_USER=dashboard_user
NEXT_PUBLIC_MQTT_PASS=PLACEHOLDER_MQTT_PASS
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=PLACEHOLDER_GOOGLE_MAPS_API_KEY
NEXT_PUBLIC_FIREBASE_API_KEY=PLACEHOLDER_FIREBASE_API_KEY
NEXT_PUBLIC_FIREBASE_DATABASE_URL=PLACEHOLDER_FIREBASE_DATABASE_URL
NEXT_PUBLIC_FIREBASE_PROJECT_ID=PLACEHOLDER_PROJECT_ID
NEXT_PUBLIC_DEMO_MODE=true
